# Multiple Linear Regression
**AmacÄ±mÄ±z, birden fazla deÄŸiÅŸkenden oluÅŸan durumlar iÃ§in nasÄ±l Ã§Ã¶zÃ¼m uygulayabiliriz. Mesela bir kiÅŸinin boy ve kilosuna gÃ¶re yaÅŸ tahmini yapmak iÃ§in.**
**Diyelim elimizde 20 tane Ã¶zellik var. Bunlardan hangilerini alabiliriz, hangileri arasÄ±nda baÄŸlantÄ± kurabiliriz vb. sorulara Ã§Ã¶zÃ¼m bulmak isteyebiliriz.**

In [122]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

**FormÃ¼l = $b0 + b1*x1 + b2*x2 + ..... + bn*xn $** 

**b0 = sabit sayÄ±**


**x'lerin hepsi 1. dereceden denklemler**

**Basit Lineer Regresyon = satÄ±ÅŸlar = a + b(ay)** 


Aya GÃ¶re SatÄ±ÅŸ


**Ã‡oklu Lineer Regresyon = Boy = a + b(yaÅŸ) + c(kilo) + d(ayakkabÄ± numarasÄ±)** 


YaÅŸ, kilo ayakkabÄ± numarasÄ±na gÃ¶re boy tahmini

**Bu verilerin hepsinin elimizde olduÄŸu kabul edilir.**

# Dummy Variable(Kukla DeÄŸiÅŸken)
**Bir deÄŸiÅŸkeni ifade eden baÅŸka deÄŸiÅŸken diyebiliriz. Ã–rneÄŸin cinsiyet kategorik bir veriydi. Ancak biz OHE yapÄ±p onu numerik veri haline getirdik. Bu kolon kukla deÄŸiÅŸken olur**

**Ancak bu iÅŸlem her zaman iyi sonuÃ§ vermez. BazÄ± makine Ã¶ÄŸrenmesi algoritmalarÄ± bu iÅŸleme direnÃ§liyken bazÄ± makine Ã¶ÄŸrenmesi algoritmalarÄ± direnÃ§li deÄŸildir. Mesela bir kolon iÃ§in 100 farklÄ± kolon eklediÄŸimizde, Ã¶nceden varolan eski kolonlar iÅŸlevini yitirmeye baÅŸlar Ã§Ã¼nkÃ¼ algoritma kendini bu yeni eklenen 100 kolona doÄŸru Ã§eker.**

**Dummy Variable oluÅŸturduktan sonra mutlaka yeni oluÅŸturulan kolonlarla bu kolonlarÄ±n oluÅŸturulduÄŸu kolon aynÄ± anda alÄ±nmamalÄ±dÄ±r. Mesela KadÄ±n olup olmamasÄ± kolonunu almaya karar verdiysek cinsiyet ve erkek kolonunu atmamÄ±z gerek!! Sadece erkek ve kadÄ±nÄ± aldÄ±k diyelim. Bu kolonlar birbirine baÄŸlÄ±dÄ±r(biri 0ken diÄŸeri 1) dolayÄ±sÄ±yla bu 2 kolon sistemi etkileyebilir! Bu tuzaktÄ±r. Bu tuzaÄŸÄ± atlamamÄ±z lazÄ±m(birbirine eklenince de biribirinden Ã§Ä±kartÄ±lÄ±nca da 1 deÄŸerini verir)**

**Ã–nemli olan kolonlar arasÄ±nda baÄŸlantÄ± olmamasÄ±nÄ± saÄŸlamak ama bazÄ± zamanlarda olabilir. Ã–yle durumlarda dummy variablelarda da kendi iÃ§erisinde seÃ§im yapÄ±lmasÄ± gerekir.**

**Ancak mesela Ä°stanbul-Ankara-Ä°zmir olarak 3 farklÄ± kolon var. Bir kiÅŸinin istanbullu olmamasÄ± demek diÄŸer 2 ÅŸehirden birinden olmasÄ± anlamÄ±na geldiÄŸi iÃ§in bu durumlarda 3 kolonu da almamÄ±z gerek!!!**

# P Value(Probility Value)

**h0(sÄ±fÄ±r hipotezi) = baÅŸlangÄ±Ã§ta ortaya atÄ±lan hipotez olarak geÃ§er. "Her kutuda 100 tane kurabiye vardÄ±r."**

**h1(ters hipotez) = BaÅŸlangÄ±Ã§ta verdiÄŸimiz hipotezin tersi. Hipotezi ne zaman Ã§Ã¼rÃ¼tebiliriz? 1 tane hatalÄ± deÄŸer(outlier) bu hipotezi Ã§Ã¼rÃ¼temeyebilir.**

**P value = KaÃ§ tane aksi Ã¶rnek bulursam bu hipotezi Ã§Ã¼rÃ¼tebilirim? bunun cevabÄ±nÄ± verir.**

**p value = genelde %5 alÄ±nÄ±r. p deÄŸeri %5'in altÄ±ndaysa h0'Ä±n hatalÄ± olma ihtimali artar. DolayÄ±sÄ±yla h1'in doÄŸru olma deÄŸeri artar.(h0 ve h1 birbirinin tersi.**

# DeÄŸiÅŸken SeÃ§imi

**Birden fazla deÄŸiÅŸken olduÄŸunda acaba her deÄŸiÅŸken, baÄŸÄ±mlÄ± deÄŸiÅŸkeni aynÄ± oranda mÄ± etkiliyor? hatta bazÄ± deÄŸiÅŸkenler hiÃ§ etkilemiyor bile olabilir. BazÄ± deÄŸiÅŸkenler sisteme olumsuz etki de yapabilir.**

### 1-) BÃ¼tÃ¼n DeÄŸiÅŸkenleri Dahil Etmek: 
**Elimizdeki tÃ¼m deÄŸiÅŸkenleri dahil edip hiÃ§birini elememek. BazÄ± durumlarda bu yÃ¶ntemi kullanmak zorunda kalabiliriz(sistemi olumsuz etkilese bile). Mesela hali hazÄ±rda bulunan bir sistemin baÅŸarÄ±sÄ±nÄ± Ã¶lÃ§mek gibi(Ã¶zellikleri Ã¶nceden seÃ§ilmiÅŸ) veya KeÅŸif iÃ§in denenebilir(diÄŸer yÃ¶ntemleri kullanmadan bir Ã¶n fikir elde etmek iÃ§in)**

### 2-) Geriye DoÄŸru Eleme(Backward Elimination):
**Ã‡ok kullanÄ±lan bir yÃ¶ntemdir. Ã–nce bÃ¼tÃ¼n deÄŸiÅŸkenler dahil edilir, sonra teker teker elenerek ilerlenir. 
En yÃ¼ksek p-value deÄŸerine sahip olan deÄŸiÅŸken ele alÄ±nÄ±r. P>0.05 ise bir sonraki adÄ±ma geÃ§ilir, deÄŸilse makine Ã¶ÄŸrenmesi sonlandÄ±rÄ±lÄ±r.
Daha sonra, en yÃ¼ksek deÄŸere sahip p-value sistemden kaldÄ±rÄ±lÄ±r ve yeni deÄŸiÅŸen seÃ§ilir. Yeniden p>0.05 olup olmadÄ±ÄŸÄ±na bakÄ±lÄ±r... BÃ¶yle devam eder.**

### 3-) Ä°leriye DoÄŸru Eleme(Forward Selection):
**Yeniden dÃ¶ngÃ¼ ile yapÄ±lÄ±r(2. sinde olduÄŸu gibi) En dÃ¼ÅŸÃ¼k deÄŸere sahip olan p-value deÄŸiÅŸkeni alÄ±nÄ±r. 
P<0.05 saÄŸlandÄ±ÄŸÄ± sÃ¼rece yeni deÄŸiÅŸken eklenmeye devam edilir. Ne zaman ki p<0.05 olursa makine Ã¶ÄŸrenimi sonlanÄ±r.**

### 4-) Ã‡ift YÃ¶nlÃ¼ Eleme(Bidirectional Elemination)
**2 ve 3'Ã¼n birleÅŸimi. AmacÄ±mÄ±z hem ileri hem geri ilerlemek. BazÄ± durumlarda birden fazla Significant level(0.05) belirlenebilir: Biri ileriye giderken, biri geri giderken.
Yine en dÃ¼ÅŸÃ¼k p-value deÄŸeri ele alÄ±nÄ±r. Bu deÄŸiÅŸken sabit tutularak diÄŸer tÃ¼m deÄŸiÅŸkenler sisteme dahil edilir. 
SL deÄŸiÅŸkeninin altÄ±nda kalan deÄŸiÅŸkenler sistemde kalÄ±r, eski deÄŸiÅŸkenlerden hiÃ§biri sistemden Ã§Ä±karÄ±lmaz.**

### 5-) Skor KarÅŸÄ±laÅŸtÄ±rmasÄ±(Score Comparison):
**P-value, Sl falan belirlemeyip  tÃ¼m kurallarÄ± kendimiz koyarÄ±z. Bir baÅŸarÄ± kriteri belirleyeceÄŸiz. OlasÄ± regresyon yÃ¶ntemleri inÅŸa edilir. Belirlenen kriter saÄŸlanana kadar inÅŸa devam eder.**

In [129]:
data = pd.read_csv("veriler.csv")
data

   ulke  boy  kilo  yas cinsiyet
0    tr  130    30   10        e
1    tr  125    36   11        e
2    tr  135    34   10        k
3    tr  133    30    9        k
4    tr  129    38   12        e
5    tr  180    90   30        e
6    tr  190    80   25        e
7    tr  175    90   35        e
8    tr  177    60   22        k
9    us  185   105   33        e
10   us  165    55   27        k
11   us  155    50   44        k
12   us  160    58   39        k
13   us  162    59   41        k
14   us  167    62   55        k
15   fr  174    70   47        e
16   fr  193    90   23        e
17   fr  187    80   27        e
18   fr  183    88   28        e
19   fr  159    40   29        k
20   fr  164    66   32        k
21   fr  166    56   42        k

In [130]:
#cinsiyet ve Ã¼lke kolonlarÄ±nÄ± numerik deÄŸere Ã§evireceÄŸiz.
ulke=data.iloc[:,0:1].values
le = preprocessing.LabelEncoder()
ulke[:,0] = le.fit_transform(data.iloc[:,0])

ohe = preprocessing.OneHotEncoder()
ulke = ohe.fit_transform(ulke).toarray()

cinsiyet = data.iloc[:, -1:]
ohe = preprocessing.OneHotEncoder()
cinsiyet = ohe.fit_transform(cinsiyet).toarray()

In [131]:
#Åžimdi dataframeleri birleÅŸtiriyoruz
df = pd.DataFrame(data=ulke, index=range(22), columns=['fr', 'tr', 'usa'])

Yas = data.iloc[:, 1:4]
df1 = pd.DataFrame(data=Yas, index=range(22), columns=['boy', 'kilo', 'yas'])

#ancak cinsiyet alÄ±rken dummy variablelara dikkat ediyoruz. Ondan sadece tek kolonu alacaÄŸÄ±z. Sadece erkek kolonunu aldÄ±k!
#cinsiyet = 1 ise erkek, 0 ise kÄ±z
df3 = pd.DataFrame(data=cinsiyet[:, 0:1], index=range(22), columns=['cinsiyet'])

sonuc1df = pd.concat([df, df1], axis=1)

sonuc3df = pd.concat([sonuc1df, df3], axis=1)#Cinsiyet One-Hot Endocing'i iÃ§in bir df
sonuc3df

     fr   tr  usa  boy  kilo  yas  cinsiyet
0   0.0  1.0  0.0  130    30   10       1.0
1   0.0  1.0  0.0  125    36   11       1.0
2   0.0  1.0  0.0  135    34   10       0.0
3   0.0  1.0  0.0  133    30    9       0.0
4   0.0  1.0  0.0  129    38   12       1.0
5   0.0  1.0  0.0  180    90   30       1.0
6   0.0  1.0  0.0  190    80   25       1.0
7   0.0  1.0  0.0  175    90   35       1.0
8   0.0  1.0  0.0  177    60   22       0.0
9   0.0  0.0  1.0  185   105   33       1.0
10  0.0  0.0  1.0  165    55   27       0.0
11  0.0  0.0  1.0  155    50   44       0.0
12  0.0  0.0  1.0  160    58   39       0.0
13  0.0  0.0  1.0  162    59   41       0.0
14  0.0  0.0  1.0  167    62   55       0.0
15  1.0  0.0  0.0  174    70   47       1.0
16  1.0  0.0  0.0  193    90   23       1.0
17  1.0  0.0  0.0  187    80   27       1.0
18  1.0  0.0  0.0  183    88   28       1.0
19  1.0  0.0  0.0  159    40   29       0.0
20  1.0  0.0  0.0  164    66   32       0.0
21  1.0  0.0  0.0  166    56   42       0.0

In [132]:
#yeniden train ve test bloklarÄ±mÄ±zÄ± oluÅŸturuyoruz.
#baÄŸÄ±mlÄ± deÄŸiÅŸken cinsiyet kolonu
x_train, x_test, y_train, y_test = train_test_split(sonuc1df, df3, test_size=0.33, random_state=0)

print(x_train)
print("\n\n", y_train)
print("\n\n",x_test)
print("\n\n",y_test)

     fr   tr  usa  boy  kilo  yas
8   0.0  1.0  0.0  177    60   22
6   0.0  1.0  0.0  190    80   25
16  1.0  0.0  0.0  193    90   23
4   0.0  1.0  0.0  129    38   12
2   0.0  1.0  0.0  135    34   10
5   0.0  1.0  0.0  180    90   30
17  1.0  0.0  0.0  187    80   27
9   0.0  0.0  1.0  185   105   33
7   0.0  1.0  0.0  175    90   35
18  1.0  0.0  0.0  183    88   28
3   0.0  1.0  0.0  133    30    9
0   0.0  1.0  0.0  130    30   10
15  1.0  0.0  0.0  174    70   47
12  0.0  0.0  1.0  160    58   39


     cinsiyet
8        0.0
6        1.0
16       1.0
4        1.0
2        0.0
5        1.0
17       1.0
9        1.0
7        1.0
18       1.0
3        0.0
0        1.0
15       1.0
12       0.0


      fr   tr  usa  boy  kilo  yas
20  1.0  0.0  0.0  164    66   32
10  0.0  0.0  1.0  165    55   27
14  0.0  0.0  1.0  167    62   55
13  0.0  0.0  1.0  162    59   41
1   0.0  1.0  0.0  125    36   11
21  1.0  0.0  0.0  166    56   42
11  0.0  0.0  1.0  155    50   44
19  1.0  0.0  0.0  159    40   29


     cinsiyet
20       0.0
10       0.0
14       0.0
13       0.0
1        1.0
21       0.0
11       0.0
19       0.0

In [133]:
#Åžimdi ise Multiple Linear Regression iÅŸlemlerine geÃ§iyoruz.
lr = LinearRegression()
lr.fit(x_train, y_train)#6 boyutlu bir veri kullanÄ±lacak

LinearRegression()

In [134]:
#tahmin iÅŸlemine geÃ§elim
#gÃ¶rÃ¼ldÃ¼ÄŸÃ¼ gibi 8 Ã¶rnekte 2 hata var(kalanÄ±nÄ± doÄŸru kabul edelim)
y_predict = lr.predict(x_test)
print(y_predict)
print(y_test)

[[ 0.98720204]
 [-0.12036863]
 [ 0.05009703]
 [ 0.07137418]
 [ 0.72473935]
 [ 0.64615044]
 [-0.03567453]
 [ 0.32612171]]
    cinsiyet
20       0.0
10       0.0
14       0.0
13       0.0
1        1.0
21       0.0
11       0.0
19       0.0

In [135]:
#Åžimdi ise diÄŸer deÄŸerlere gÃ¶re boyu tahmin etmeye Ã§alÄ±ÅŸacaÄŸÄ±z. Yani boy harici x, boy y deÄŸeri olacak
#boy'u ayri bir deÄŸer olarak aldÄ±k. Boyun solunda ve saÄŸÄ±nda kalan deÄŸiÅŸkenleri aldÄ±k ve yeni bir df olarak birleÅŸtirdik
boy = sonuc3df.iloc[:, 3:4]
sol = sonuc3df.iloc[:, :3]
sag = sonuc3df.iloc[:, 4:]

newdf = pd.concat([sol, sag], axis=1)
newdf

     fr   tr  usa  kilo  yas  cinsiyet
0   0.0  1.0  0.0    30   10       1.0
1   0.0  1.0  0.0    36   11       1.0
2   0.0  1.0  0.0    34   10       0.0
3   0.0  1.0  0.0    30    9       0.0
4   0.0  1.0  0.0    38   12       1.0
5   0.0  1.0  0.0    90   30       1.0
6   0.0  1.0  0.0    80   25       1.0
7   0.0  1.0  0.0    90   35       1.0
8   0.0  1.0  0.0    60   22       0.0
9   0.0  0.0  1.0   105   33       1.0
10  0.0  0.0  1.0    55   27       0.0
11  0.0  0.0  1.0    50   44       0.0
12  0.0  0.0  1.0    58   39       0.0
13  0.0  0.0  1.0    59   41       0.0
14  0.0  0.0  1.0    62   55       0.0
15  1.0  0.0  0.0    70   47       1.0
16  1.0  0.0  0.0    90   23       1.0
17  1.0  0.0  0.0    80   27       1.0
18  1.0  0.0  0.0    88   28       1.0
19  1.0  0.0  0.0    40   29       0.0
20  1.0  0.0  0.0    66   32       0.0
21  1.0  0.0  0.0    56   42       0.0

In [136]:
#yeniden train ve test kÃ¼meleri oluÅŸturuyoruz

xtrain, xtest, ytrain, ytest = train_test_split(newdf, boy, test_size=0.33, random_state=0)
print(xtrain)
print("\n\n", ytrain)
print("\n\n",xtest)
print("\n\n",ytest)

     fr   tr  usa  kilo  yas  cinsiyet
8   0.0  1.0  0.0    60   22       0.0
6   0.0  1.0  0.0    80   25       1.0
16  1.0  0.0  0.0    90   23       1.0
4   0.0  1.0  0.0    38   12       1.0
2   0.0  1.0  0.0    34   10       0.0
5   0.0  1.0  0.0    90   30       1.0
17  1.0  0.0  0.0    80   27       1.0
9   0.0  0.0  1.0   105   33       1.0
7   0.0  1.0  0.0    90   35       1.0
18  1.0  0.0  0.0    88   28       1.0
3   0.0  1.0  0.0    30    9       0.0
0   0.0  1.0  0.0    30   10       1.0
15  1.0  0.0  0.0    70   47       1.0
12  0.0  0.0  1.0    58   39       0.0


     boy
8   177
6   190
16  193
4   129
2   135
5   180
17  187
9   185
7   175
18  183
3   133
0   130
15  174
12  160


      fr   tr  usa  kilo  yas  cinsiyet
20  1.0  0.0  0.0    66   32       0.0
10  0.0  0.0  1.0    55   27       0.0
14  0.0  0.0  1.0    62   55       0.0
13  0.0  0.0  1.0    59   41       0.0
1   0.0  1.0  0.0    36   11       1.0
21  1.0  0.0  0.0    56   42       0.0
11  0.0  0.0  1.0    50   44       0.0
19  1.0  0.0  0.0    40   29       0.0


     boy
20  164
10  165
14  167
13  162
1   125
21  166
11  155
19  159

In [137]:
#ÅŸimdi yeniden lineer Ã¶ÄŸretme yapÄ±yoruz
lr.fit(xtrain, ytrain)
y_boy_predict = lr.predict(xtest)
print(y_boy_predict)
print(ytest)

[[182.26638686]
 [152.87161474]
 [162.79386375]
 [158.30668577]
 [130.82888952]
 [173.96138408]
 [150.12782663]
 [157.26898922]]
    boy
20  164
10  165
14  167
13  162
1   125
21  166
11  155
19  159

**Ã–nceki Ã¶rneklerde tÃ¼m kolonlarÄ± kullandÄ±k. Acaba doÄŸru mu yapÄ±yoruz?**


**Backward Elimination YÃ¶ntemi**


**Ã–ncelikle bu deÄŸiÅŸkenlerin hangisi sisteme daha fazla etki ediyor? onu gÃ¶rmek iÃ§in bir dizi oluÅŸturup o deÄŸiÅŸkenleri o diziye koyacaÄŸÄ±z**

**FormÃ¼le bakarsak: $ð‘0+ð‘1âˆ—ð‘¥1+ð‘2âˆ—ð‘¥2+.....+ð‘ð‘›âˆ—ð‘¥ð‘›$ burada b0 deÄŸeri var(sabit deÄŸer) ancak biz burada kalan tÃ¼m deÄŸerleri eklerken o b0 deÄŸerine sahip deÄŸiliz. Ã–ncelikle o b0 deÄŸerini bulmamÄ±z gerek**

In [143]:
#amacÄ±mÄ±z sabit deÄŸere katsayÄ± olarak 1 eklemek. Burada yaptÄ±ÄŸÄ±mÄ±z ÅŸey, bizim dataframemize bir sÃ¼tun ekliyoruz
#O sÃ¼tundaki tÃ¼m deÄŸerler 1'e eÅŸit!
X = np.append(arr = np.ones((22, 1)).astype(int), values=newdf, axis=1)

#Åžimdi ise tÃ¼m kolonlarÄ± alÄ±yoruz. BÃ¶yle almamÄ±zÄ±n sebebi: eleme yÃ¶ntemi yapacaÄŸÄ±mÄ±z iÃ§in bazÄ± kolonlarÄ± Ã§Ä±kartacaÄŸÄ±z.
#BaÅŸta tamamÄ±nÄ± alÄ±p p-values hesaplayacaÄŸÄ±z
xl = newdf.iloc[:, [0, 1, 2, 3, 4, 5]].values
xl = np.array(xl, dtype=float)
#Burada yaptÄ±ÄŸÄ±mÄ±z ÅŸey: 6 tane kolonun tek tek boy Ã¼zerindeki etkisini Ã¶lÃ§mek(1'in boy Ã¼zerindeki etkisi, 2'nin boy Ã¼zerindeki etkisi vb.)
#Buna gÃ¶re modelin ne kadar baÅŸarÄ±lÄ± olduÄŸunu buluruz.
model = sm.OLS(boy, xl).fit()#istatistiksel deÄŸerlerimizi Ã§Ä±kartmaya yarÄ±yor.
print(model.summary())#bir rapor ÅŸeklinde Ã§Ä±ktÄ± verir.
#bizim iÃ§in Ã¶nemli olanlar p deÄŸeri(ne kadar dÃ¼ÅŸÃ¼kse o kadar iyi)
#ÅŸu an bizim iÃ§in sorunlu olan x5'i elememiz gerek Ã§Ã¼nkÃ¼ en yÃ¼ksek p deÄŸeri onda

                            OLS Regression Results
==============================================================================
Dep. Variable:                    boy   R-squared:                       0.885
Model:                            OLS   Adj. R-squared:                  0.849
Method:                 Least Squares   F-statistic:                     24.69
Date:                Sun, 15 Nov 2020   Prob (F-statistic):           5.41e-07
Time:                        00:00:10   Log-Likelihood:                -73.950
No. Observations:                  22   AIC:                             159.9
Df Residuals:                      16   BIC:                             166.4
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1           114.0688      8.145     14.005      0.000      96.802     131.335
x2           108.3030      5.736     18.880      0.000      96.143     120.463
x3           104.4714      9.195     11.361      0.000      84.978     123.964
x4             0.9211      0.119      7.737      0.000       0.669       1.174
x5             0.0814      0.221      0.369      0.717      -0.386       0.549
x6           -10.5980      5.052     -2.098      0.052     -21.308       0.112
==============================================================================
Omnibus:                        1.031   Durbin-Watson:                   2.759
Prob(Omnibus):                  0.597   Jarque-Bera (JB):                0.624
Skew:                           0.407   Prob(JB):                        0.732
Kurtosis:                       2.863   Cond. No.                         524.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [144]:
#ÅŸimdi x5'i attÄ±k ve tekrar bir model oluÅŸturduk
xl = newdf.iloc[:, [0, 1, 2, 3, 5]].values
xl = np.array(xl, dtype=float)
model = sm.OLS(boy, xl).fit()
print(model.summary())f

#Burada gÃ¶rdÃ¼ÄŸÃ¼mÃ¼z en yÃ¼ksek deÄŸer 0.031 ama kabul edilebilir bir deÄŸer. Ama rahatsÄ±zÄ±m diyorsak Ã§Ä±karabiliriz.
#Daha kÃ¼Ã§Ã¼k bir SL elde etmek istersek**

                            OLS Regression Results
==============================================================================
Dep. Variable:                    boy   R-squared:                       0.884
Model:                            OLS   Adj. R-squared:                  0.857
Method:                 Least Squares   F-statistic:                     32.47
Date:                Sun, 15 Nov 2020   Prob (F-statistic):           9.32e-08
Time:                        00:04:15   Log-Likelihood:                -74.043
No. Observations:                  22   AIC:                             158.1
Df Residuals:                      17   BIC:                             163.5
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1           115.6583      6.734     17.175      0.000     101.451     129.866
x2           109.0786      5.200     20.978      0.000      98.108     120.049
x3           106.5445      7.090     15.026      0.000      91.585     121.504
x4             0.9405      0.104      9.029      0.000       0.721       1.160
x5           -11.1093      4.733     -2.347      0.031     -21.096      -1.123
==============================================================================
Omnibus:                        0.871   Durbin-Watson:                   2.719
Prob(Omnibus):                  0.647   Jarque-Bera (JB):                0.459
Skew:                           0.351   Prob(JB):                        0.795
Kurtosis:                       2.910   Cond. No.                         397.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [145]:
#x5'i eliyoruz
xl = newdf.iloc[:, [0, 1, 2, 3]].values
xl = np.array(xl, dtype=float)
model = sm.OLS(boy, xl).fit()
print(model.summary())

#Åžimdi gÃ¶rÃ¼ldÃ¼ÄŸÃ¼ gibi tÃ¼m p-values'lar 0 oldu

                            OLS Regression Results
==============================================================================
Dep. Variable:                    boy   R-squared:                       0.847
Model:                            OLS   Adj. R-squared:                  0.821
Method:                 Least Squares   F-statistic:                     33.16
Date:                Sun, 15 Nov 2020   Prob (F-statistic):           1.52e-07
Time:                        00:06:04   Log-Likelihood:                -77.131
No. Observations:                  22   AIC:                             162.3
Df Residuals:                      18   BIC:                             166.6
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1           119.8136      7.265     16.491      0.000     104.550     135.077
x2           109.8084      5.804     18.919      0.000      97.615     122.002
x3           114.4212      6.984     16.382      0.000      99.747     129.095
x4             0.7904      0.092      8.595      0.000       0.597       0.984
==============================================================================
Omnibus:                        2.925   Durbin-Watson:                   2.855
Prob(Omnibus):                  0.232   Jarque-Bera (JB):                1.499
Skew:                           0.605   Prob(JB):                        0.473
Kurtosis:                       3.416   Cond. No.                         369.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [149]:
#O zaman Backward YÃ¶ntemi ile eleme yaptÄ±k. Elimizde olan son veriler ile ilgili bir regresyon modeli oluÅŸturalÄ±m
after_backwarddf = pd.DataFrame(data=xl, index=range(22), columns=['fr', 'tr', 'usa', 'kilo'])
x_train, x_test, y_train, y_test = train_test_split(after_backwarddf, boy, test_size=0.33, random_state=0)

print(x_train)
print("\n\n", y_train)
print("\n\n",x_test)
print("\n\n",y_test)

     fr   tr  usa   kilo
8   0.0  1.0  0.0   60.0
6   0.0  1.0  0.0   80.0
16  1.0  0.0  0.0   90.0
4   0.0  1.0  0.0   38.0
2   0.0  1.0  0.0   34.0
5   0.0  1.0  0.0   90.0
17  1.0  0.0  0.0   80.0
9   0.0  0.0  1.0  105.0
7   0.0  1.0  0.0   90.0
18  1.0  0.0  0.0   88.0
3   0.0  1.0  0.0   30.0
0   0.0  1.0  0.0   30.0
15  1.0  0.0  0.0   70.0
12  0.0  0.0  1.0   58.0


     boy
8   177
6   190
16  193
4   129
2   135
5   180
17  187
9   185
7   175
18  183
3   133
0   130
15  174
12  160


      fr   tr  usa  kilo
20  1.0  0.0  0.0  66.0
10  0.0  0.0  1.0  55.0
14  0.0  0.0  1.0  62.0
13  0.0  0.0  1.0  59.0
1   0.0  1.0  0.0  36.0
21  1.0  0.0  0.0  56.0
11  0.0  0.0  1.0  50.0
19  1.0  0.0  0.0  40.0


     boy
20  164
10  165
14  167
13  162
1   125
21  166
11  155
19  159

In [150]:
lr.fit(x_train, y_train)
y_predictlast = lr.predict(x_test)
print(y_test)
print(y_predictlast)

    boy
20  164
10  165
14  167
13  162
1   125
21  166
11  155
19  159
[[170.90273989]
 [150.39360044]
 [156.23302674]
 [153.73041546]
 [139.02382298]
 [162.56070232]
 [146.22258165]
 [149.2134422 ]]